@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

/* HeaderWrapper CSS - Covid 19 Warning! */
.bg-purple {
  background: #3038ce;
}
.headerWrapper .top-strip {
  padding: 8px 0px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

/* Header CSS - Navbar */
.headerWrapper .header {
  width: 100%;
  height: auto;
}
.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop {
  width: 150px;
  height: 80px;
  min-width: 150px;
  padding: 10px 10px !important;
  border: 0.5px solid rgba(15, 6, 57, 0.2);
}
.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.8;
}

.header .headerSearch {
  width: 60%;
  height: 80px;
  background: #f3f4f7;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.header .headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 60px;
  border: 0px !important;
  padding: 0px 20px !important;
}

.header .headerSearch button {
  position: absolute;
  top: 10px;
  right: 15px;
  min-width: 40px !important;
  height: 60px !important;
  z-index: 100;
  color: black;
}

.header .headerSearch button svg {
  font-size: 25px;
}

.header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 50px !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
  border: 0.5px solid rgba(0, 0, 0, 0.1) !important;
}

.header .part3 .circle svg {
  font-size: 20px;
  color: #707071;
}

.cartTab button {
  background: #fff1ee !important;
}
.cartTab button svg {
  color: #ea2b0f !important;
}
.cartTab .price {
  font-size: 18px;
  font-weight: 700;
}
.cartTab .count {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #ea2b0f;
  border-radius: 50%;
  color: white;
  padding: 5px;
  display: flex;
  width: 25px;
  height: 25px;
}

nav .allCatTab {
  background: #2b86cc;
  padding: 8px 20px !important;
  border-radius: 30px !important;
}

nav .allCatTab {
  color: #fff1ee;
}

nav .allCatTab:hover {
  background: #135385;
}

nav .allCatTab .icon1 svg {
  font-size: 20px !important;
  margin-right: 5px;
}
nav .allCatTab .icon2 svg {
  font-size: 15px !important;
  margin-left: 15px;
}

nav .navPart1 {
  max-width: 20%;
  flex: 0 0 20%;
}
nav .navPart2 {
  max-width: 80%;
  flex: 0 0 80%;
}

nav .navPar2 ul {
  margin-bottom: 0px;
}
nav .navPart2 ul li a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(0, 0, 0, 0.6);
  text-transform: uppercase;
  align-items: center !important;
  padding: 8px 15px;
  border-radius: 30px;
  display: flex !important;
  align-items: center !important;
  transition: all 0.2s ease-in-out;
}
nav .navPart2 ul li a:hover {
  background: #c4e2ee;
  color: rgb(41, 135, 194);
}

.locationModal .MuiPaper-elevation {
  padding: 10px 20px;
}

.locationModal .MuiPaper-elevation .headerSearch {
  height: 50px;
  background: #f3f4f7;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.locationModal .MuiPaper-elevation .headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;

  border: 0px !important;
  padding: 0px 20px !important;
}

.locationModal .MuiPaper-elevation .headerSearch button {
  position: absolute;
  right: 5px;
  top: -5px;
  min-width: 40px !important;
  height: 60px !important;
  z-index: 100;
  color: black;
}

.locationModal .MuiPaper-elevation .headerSearch button svg {
  font-size: 25px;
}

.locationModal .countryList {
  margin-bottom: 0px;
  max-height: 500px;
  overflow-y: scroll;
}

.locationModal .countryList li {
  width: 100%;
  list-style: none;
}
.locationModal .countryList li button {
  width: 100%;
  text-transform: capitalize !important;
  color: black !important;
  justify-content: flex-start !important;
  padding: 15px 20px;
}
